body{
	padding-bottom: 50px;
}
.restaurante{
	margin:50px;
	display: block;
	padding: 25px;
	background-color: #FFFFFF;
	text-align: left;
}
.rcontenedor{
	margin-left: 25px;
	width:200px;
	height: 200px;
	background-color: #000000;
	display: table;
	float: right;
}
.rcontenido{
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.restaurante div img{
	max-width: 200px;
	max-height: 200px;
}
.rtitulo{
	font-family: 'Lobster', helvetica;
}